body {
    color: #40514e;
    margin: 0;
    text-align: center;
    background-color: #b3e7e3;
    font-family: 'Merriweather', serif;
    font-size: 1.5em;
    
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: white;

}

h1 {
    font-size: 5rem;
    width: 80%;
    margin: 50px auto 0 auto; 
    font-family: 'Sacramento', serif;
    color: #66BFBF;
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;

}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}


.top-container {
    
    background-color: #EAF6F6;    
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;

}

.middle-container {
    background-color: white ; 
    padding: 100px;
}

.bottom-container {
    background-color: #66BFBF ; 
    padding: 50px 0 20px;

}

p {
    display: block;
    width: 100%;
    margin:0 auto 0 auto; 
    line-height: 2;
    
    
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 10px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.skill-row {
    width: 80%;
    margin: 100px auto 100px auto;
    text-align: left;


}

.skills{
    width: 80%;
    margin: 100px auto 100px auto;

}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.Snowboard {
    width: 25%;
    float: left;
    padding-right: 50px;
}

.Subsea {
    width: 45%;
    float: right;
    padding-right: 50px;
}


.zdjprofil {
    width: 30%;
    margin: auto;
    border-radius: 50%;

}

.mountain{
    width: 25%;
}

.myButton {
    margin: 1cm auto 1cm auto;
	background-color:#7892c2;
	border-radius:28px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	padding: 100 100 100 100;
}

.footer-link{
    font-family: 'Montserrat', sans-serif;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0px;
}